body {
}

.admin-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 2%;
	width: 90%;
	height: 90%;
	background: linear-gradient(180deg, white, lightgray, gray);
	border: 2px solid black;
	border-radius: 10px;
}

.admin-form input {
	display: inline-block;
	margin: 2%;
	padding: 1%;
	border: 1px solid darkgray;
	text-align: left;
	font-size: 1em;
}

.admin-form input[type="text"] {
	width: 85%;
	max-width: 400px;
}

.admin-form textarea {
	display: inline-block;
	margin: 2%;
	padding: 1%;
	width: 85%;
	height: 45%;
	min-height: 300px;
	border: 1px solid darkgray;
	text-align: left;
	font-size: 2em;
}

.admin-form h1 {
	align-self: center;
}
